@page "/player/{playerId}"
@using ClapBomb.Models.PlayerInfo
@using ClapBomb.Models.GameLogCurrent

@inject NavigationManager navManager
@inject PlayerService playerService

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Player</PageTitle>

@if (!string.IsNullOrWhiteSpace(errorString))
{
    <div class="h2">@errorString</div>
}
else if (player is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <MudStack Row="true" AlignItems="AlignItems.Center">
        <MudAvatar>
            <MudImage Src="@(player.headshot)"></MudImage>
        </MudAvatar>
        <h3>@($"{player.firstName._default} {player.lastName._default}")</h3>
    </MudStack>
    <h4>L5 Game Log</h4>
    <MudTable Items="@player.last5Games">
        <HeaderContent>
            <MudTh>Date</MudTh>
            <MudTh>Opp</MudTh>
            <MudTh>G</MudTh>
            <MudTh>A</MudTh>
            <MudTh>P</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Date">@context.gameDate</MudTd>
            <MudTd DataLabel="Opp">@context.opponentAbbrev</MudTd>
            <MudTd DataLabel="G">@context.goals</MudTd>
            <MudTd DataLabel="A">@context.assists</MudTd>
            <MudTd DataLabel="P">@context.points</MudTd>
        </RowTemplate>
    </MudTable>
    <h4>L5 Shots per game:</h4>
    <p>@l5ShotsPerGame</p>

    <MudChart ChartType="ChartType.Bar" ChartSeries="@shotSeries" XAxisLabels="@XAxisLabels"/>

    <h4>Game Log</h4>
    <MudTable Items="@gameLogCurrent.gameLog">
        <HeaderContent>
            <MudTh>Date</MudTh>
            <MudTh>Opp</MudTh>
            <MudTh>G</MudTh>
            <MudTh>A</MudTh>
            <MudTh>P</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Date">@context.gameDate</MudTd>
            <MudTd DataLabel="Opp">@context.opponentAbbrev</MudTd>
            <MudTd DataLabel="G">@context.goals</MudTd>
            <MudTd DataLabel="A">@context.assists</MudTd>
            <MudTd DataLabel="P">@context.points</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

    <h4>Shots per game:</h4><p>@shotsPerGame</p>
}

@code {
    [Parameter] public string playerId { get; set; }
    PlayerRoot player;
    GameLogCurrentRoot gameLogCurrent;
    string errorString;
    double shotsPerGame;
    double l5ShotsPerGame;
    int totalShots = 0;
    int l5TotalShots = 0;
    List<ChartSeries> shotSeries = new List<ChartSeries>();
    public string[] XAxisLabels = { "1", "2", "3", "4", "5" };

    protected override async Task OnInitializedAsync()
    {
        player = await playerService.GetPlayerInfo(playerId);
        errorString = playerService.errorString;

        gameLogCurrent = await playerService.GetGameLogCurrent(playerId);
        errorString = playerService.errorString;

        foreach (Models.GameLogCurrent.Gamelog game in gameLogCurrent.gameLog)
        {
            totalShots += game.shots;
        }
        shotsPerGame = Math.Round((double) totalShots / gameLogCurrent.gameLog.Length, 3);

        double[] data = { };
        foreach (Last5games games in player.last5Games)
        {
            l5TotalShots += games.shots;
            data.Append(games.shots);
        }
        l5ShotsPerGame = Math.Round((double)l5TotalShots / 5, 3);
        var shots = new ChartSeries() { Name = "L5 Shots", Data = data };
        shotSeries.Add(shots);
    }
}
