@page "/standings"

@inject IHttpClientFactory _clientFactory
@inject NavigationManager NavManager
@inject TeamService teamService

<PageTitle>Standings</PageTitle>
<h3>Standings</h3>

@if (!string.IsNullOrWhiteSpace(errorString))
{
    <div class="h2">@errorString</div>
}
else if (standing is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Team</th>
                <th>Logo</th>
                <th>Abbreviation</th>
                <th>Games Played</th>
                <th>Points</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>OTL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in standing.standings)
            {
                <tr>
                    <td><a href="/team/@(s.teamAbbrev._default)" data-enhance-nav="false">@s.teamName._default</a></td>
                    <td><img src="@s.teamLogo" height="100"/></td>
                    <td>@s.teamAbbrev._default</td>
                    <td>@s.gamesPlayed</td>
                    <td>@s.points</td>
                    <td>@s.wins</td>
                    <td>@s.losses</td>
                    <td>@s.otLosses</td>
                </tr>
            }
        </tbody>
    </table>
}


