@page "/standings"

@inject IHttpClientFactory _clientFactory
@inject NavigationManager NavManager
@inject TeamService teamService

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Standings</PageTitle>
<h3>Standings</h3>

@if (!string.IsNullOrWhiteSpace(errorString))
{
    <div class="h2">@errorString</div>
}
else if (standing is null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudDataGrid T="Standing" Context="player" Items="standing.standings">
        <Columns>
            <TemplateColumn Title="Team">
                <CellTemplate>
                    @{
                    var teamURL = $"/team/{context.Item.teamAbbrev._default}";
                    }
                    <MudLink Href="@teamURL">@context.Item.teamName._default</MudLink>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Logo">
                <CellTemplate>
                    <MudImage Class="rounded-lg ma-4" Height="75" Src="@context.Item.teamLogo"></MudImage>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.teamAbbrev._default" Title="Abbreviation"/>
            <PropertyColumn Property="x => x.gamesPlayed" Title="Games Played"/>
            <PropertyColumn Property="x => x.points" Title="Points"/>
            <PropertyColumn Property="x => x.wins" Title="Wins"/>
            <PropertyColumn Property="x => x.losses" Title="Losses"/>
            <PropertyColumn Property="x => x.otLosses" Title="OTL"/>
        </Columns>
    </MudDataGrid>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Team</th>
                <th>Logo</th>
                <th>Abbreviation</th>
                <th>Games Played</th>
                <th>Points</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>OTL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in standing.standings)
            {
                <tr>
                    <td><a href="/team/@(s.teamAbbrev._default)" data-enhance-nav="false">@s.teamName._default</a></td>
                    <td><img src="@s.teamLogo" height="100"/></td>
                    <td>@s.teamAbbrev._default</td>
                    <td>@s.gamesPlayed</td>
                    <td>@s.points</td>
                    <td>@s.wins</td>
                    <td>@s.losses</td>
                    <td>@s.otLosses</td>
                </tr>
            }
        </tbody>
    </table>
}


