@page "/team/{teamAbbreviation}"

@inject IHttpClientFactory _clientFactory
@inject TeamService teamService

<PageTitle>@teamAbbreviation</PageTitle>

<h3>@teamAbbreviation</h3>

@if (!string.IsNullOrWhiteSpace(errorString))
{
    <div class="h2">@errorString</div>
}
else if (roster is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <h3>Forwards</h3>
    <MudDataGrid T="Forward" Context="player" Items="roster.forwards">
        <Columns>
            <PropertyColumn Property="x => GetForwardPosition(x.positionCode)" Title="Position"/>
            <TemplateColumn Title="Headshot">
                <CellTemplate>
                    <MudImage Class="rounded-lg ma-4" Height="75" Src="@context.Item.headshot"/>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn Title="Name">
                <CellTemplate>
                    @{
                        var playerURL = $"/player/{context.Item.id}";
                    }
                    <MudLink Href="@playerURL">@($"{context.Item.firstName._default} {context.Item.lastName._default}")</MudLink>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>

    <h3>Defensemen</h3>
    <MudDataGrid T="Defenseman" Context="player" Items="roster.defensemen">
        <Columns>
            <PropertyColumn Property="x => GetDmanPosition(x.positionCode)" Title="Position"/>
            <TemplateColumn Title="Headshot">
                <CellTemplate>
                    <MudImage Class="rounded-lg ma-4" Height="75" Src="@context.Item.headshot"/>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.firstName._default + ' ' + x.lastName._default" Title="Name"/>
        </Columns>
    </MudDataGrid>

    <h3>Goalies</h3>
    <MudDataGrid T="Goaly" Context="player" Items="roster.goalies">
        <Columns>
            <PropertyColumn Property="x => x.positionCode" Title="Position"/>
            <TemplateColumn Title="Headshot">
                <CellTemplate>
                    <MudImage Class="rounded-lg ma-4" Height="75" Src="@context.Item.headshot"/>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.firstName._default + ' ' + x.lastName._default" Title="Name"/>
        </Columns>
    </MudDataGrid>
}